html {
  scroll-behavior: smooth;
}

body {
    background-color: #005bab;
    color: #ff915c;
    font-family: 'Nobile', sans-serif;
}

h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.wide-title {
  color: #fff;
}
.friendly {
  color: #fff;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.navbar-expand-sm .navbar-toggler {
    display: inline-flex;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: rgba(0, 176, 194, 0.5);
}

.sticky-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.btn-secondary {
    color: rgba(254, 100, 133, 1);
    background-color: #fff;
    border-color: rgba(254, 100, 133, 1);
}

.fa-bars {
    color:rgba(0, 176, 194, 1);
    background-color: transparent;
    padding-top: 20px;

    border-radius: 50%;
    font-size: 36px;
    width: 54px;
    height: 54px;
    line-height: 14px;
  }

/*---------speech bubble effects-----------*/

/*--------vertical text speech bubble----*/
.speech-vertical {
    color: #fff;
    background: rgba(0, 176, 194, 0.5);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1rem;
    line-height: 1.3;
    margin: 10px 3%;
    max-width: 400px;
    padding: 15px;
    position: relative;
}

.speech-bubble p {
  /*  margin: 0 0 10px; deleted to remove visible border*/
}
.speech-bubble p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble::after {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(0, 176, 194, 0.5);
    bottom: -20px;
    content: "";
    position: absolute;
    left : 0px;
}
/*vertical texthttps://stackoverflow.com/questions/45479558/html-css-how-to-write-a-text-vertically-keeping-the-characters-horizontally---*/
.vertical-text {
  margin:  auto 3.33em;
  margin-top: -1.43em;
  width: 0;
  word-wrap: break-word;
}

.first {
  margin-left: .1em;
  letter-spacing: 12px;
}

.second {
  margin-left: 4.5em;
  margin-top: -1.2em;
  letter-spacing: 12px;
}

.speech-bubble::after {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(0, 176, 194, 0.5);
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.speech-vertical::after {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(0, 176, 194, 0.5);
    bottom: -19px;
    content: "";
    position: absolute;
    left: 40px;
  }
/*---end vertical speech bubble---------*/

/* ----------------auralinna's bubble modified---------------*/

.speech-bubble {
    background: rgba(0, 176, 194, 0.5);
  	display: inline-block;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 100%;
    padding: 15px;
    position: relative;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
}

.speech-bubble p {
  /*  margin: 0 0 10px; deleted to remove visible border*/
}
.speech-bubble p:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.speech-bubble::after {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(0, 176, 194, 0.5);
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
/*------------------------------- auralinna's bubble end---------------------*/

/* --------- bubble for text --------------*/
.bubble {
    background-color: rgba(0, 91, 171, 0.5); /* bubble*/
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius: 7px;
    border: 2px transparent rgba(0, 91, 171, 0.1); /* bubble not responsive */
   -webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    -moz-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    -ms-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    -o-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));


p {
    display: inline-block;
    margin:15px 0 2em 85px;
    font-style:italic;
    position: relative;
    top: 200px;
    left: 200px;
}

.bubble:after, .bubble:before {
    border-bottom: 25px solid transparent;
    border-right: 25px solid rgba(0, 91, 171, 0.25); /* carat*/
    bottom: -25px;
    content: '';
    position: absolute;
    right: 25px;
}
}

/**********speech box paras-------------*/

p {
	/*/ layout*/
	position: relative;
	max-width: 55em;

	/*/ looks*/
	background-color: rgba(0, 176, 194, 0.5);/*rgba(0, 0, 199, 0.5);/*#00b0c2;*/
  color: rgba(0, 91, 171, 1);
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
}

p::before {
	/*/ layout**/
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em; /* offset should move with padding of parent*/
	border: .75rem solid transparent;
	border-top: none;
}

.language {
  color: rgba(0, 176, 194, 1);
  background-color: transparent;
  border-color: rgba(0, 176, 194, 1);
  font-weight: 700;
    display: inline-block;
    padding-right: 20px;
    line-height: 44px;
}

.language:hover {
    color: #fff;
    background-color: rgba(0, 176, 194, 0.5);
    border-color: rgba(0, 176, 194, 0.5);
    font-weight: 700;
    text-decoration: none;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 176, 194, 1);
}

.navbar-toggler {
  color: rgba(0, 176, 194, 1);
  background-color: transparent;
  border-color: rgba(0, 176, 194, 1);
  border-left-color: rgba(0, 176, 194, .5);
  font-weight: 700;
    display: inline-block;
    padding-right: 10px;
    line-height: 44px;
}

a {
    background-color: #E4E4E4;
    color: #888888;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-toggler::before {
  color: rgba(0, 176, 194, 0.5);
  background-color: transparent;
  border-color: rgba(0, 176, 194, 0.5);
}

.navbar-toggler:hover {
  color: rgba(0, 91, 171, 0.5);
  background-color: rgba(0, 176, 194, 0.5);
  border-color: rgba(0, 91, 171, 0.5);
}

i:hover {
    color: #fff;
    background-color: rgba(0, 176, 194, 0.5)!important;
  }

.navbar-right {
    float: right!important;
}

@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

/*----------JUMBOTRON----------*/

#landing-view {
    background-attachment: fixed;
    background-image: url('../images/landing1.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: .1%;
    font-size: 5.5em;
    margin-top: .1%;
    margin-bottom: .1%;
}

.jumbotron p {
    font-size: 2em;
}

.friendly {
    margin-top: -.1%;
    margin-bottom: -1.5%;
    font-size:1.3rem;
}
.friendly-mob {
    margin-top: -.1%;
    margin-bottom: -1.5%;
    font-size:1.3rem;
}

h3 {
  font-size:1.3rem;
}

/*------------ABOUT----------*/

.about-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

h2 {
    margin-left: 15px;
    margin-top: 2%;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.about-row .about-p {
    font-size: .8em;
    margin: 40px 0px 40px 0px;
}

/*------------learn----------*/

#learn {
    background-attachment: fixed;
    background-image: url('../images/fun.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
}

.card-body .row {
    text-align: center;
}

.project-cards {
    display: inline-table;
    justify-content: center;
    align-items: center;
}

.col-6 {
    align-items: center;
}

.card {
    background-color: #fdfdfd;
    border-radius: 2.5%;
    width: 18em;
    height: 22em;
    top: 50%;
    margin: 15% auto;
    padding: 15px;
    align-items: center;
    z-index: 2;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.card-footer{
  position:absolute;
  bottom:0;
  padding: .175rem 1.25rem;
  border-top: 0;
  background-color: transparent;
}

.card:hover {
    opacity: 1;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1.1em;
    font-weight: bold;
}

.card-body .card-text {
    font-size: 1.07em;
}

.desktop-icon {
    padding: 20px 0;
    border-radius: 50%;
    font-size: 34px;
    width: 54px;
    height: 54px;
    line-height: 18px;
}

.github-icon {
    padding: 20px 0;
    border-radius: 50%;
    font-size: 36px;
    width: 54px;
    height: 54px;
    line-height: 14px;
}

.question-icon {
    padding: 20px 0;
    border-radius: 50%;
    font-size: 36px;
    width: 54px;
    height: 54px;
    line-height: 14px;
}

/*-------video---------------*/

.video-p {
position: relative;
max-width: 30em;
background-color: rgba(0, 176, 194, 0.5);
color: rgba(0, 91, 171, 1);
padding: .125em 1.35em;
font-size: 1.25em;
border-radius: 1rem;
}

.centered-thing {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------- new modal quiz ----------*/
input 													{ height:30px !important; }
input[type=checkbox]									{ height:30px !important; margin-top:-3px !important; margin-right:5px !important; box-shadow:none; background-color:#ffffff; position:relative !important; }
textarea												{ width: 90%; margin: 0 auto; display: block; }
input[type=radio]										{ height:30px !important; margin-top:-3px !important; margin-right:5px !important; box-shadow:none; background-color:#ffffff; position:relative !important; }
.form-group input, .form-group select 					{ height:30px; padding: 0px 12px; }
.form-horizontal .form-group							{ margin:10px; }
.formContainer .formControlLabel 						{ width:auto !important; min-width:150px; margin:0; padding:0; }
.formControls											{ width:100%; padding:0; margin: 10px 0 20px auto; }
.radio 													{ padding-top:0 !important; padding-left:8px !important; }
.radio-inline											{ margin-right:10px; padding-top:0 !important; display:inline; }
.bold													{ font-weight:bold; }
.italic 												{ font-style:italic; }
.clear					 								{ width:100%; margin:0 !important; }
.rsform-block-submit 									{ display:none; }
.show 													{ display: block !important; }
/*		.rsform-block-placecontent 								{ display:none; } */
#submit													{ margin:0 auto; display:block; }
/* QUIZ STYLES */
ol,ul 													{ list-style:none; }
strong 													{ font-weight:700; }
#frame 													{ width:auto; max-width: 800px; background:transparent; margin:3px auto; padding:10px; color:#333 !important; }
div#frame h2 											{ width:auto; border-bottom:1px solid #bdbdbd; padding:0 0 5px 0; font-size:30px; }
h3.question											{ width: 95%; font-weight:normal; margin:20px 0; margin-left: 15px; padding:0; font-style:italic; display:block; }
p.pager 												{ margin:5px 0 5px; color:#ff915c; background-color: #fff; text-align:right; }
.qnumber 												{ font-size:25px; font-weight:bold; font-style:italic; vertical-align:bottom; }
.number 												{ font-size:25px; font-weight:bold; font-style:normal; vertical-align:inherit; padding-right:10px; }
.score 													{ width:100%; display:inline-block; margin:30px 0; font-size:100px; text-align:center; }
img.question-image						{ width:100% !important; height:auto; display:block; max-width:250px; margin:10px auto; border:1px solid #ccc !important;}
#choice-block 											{ display:block; list-style:none; margin:0; padding:0; cursor: pointer; }
/*	#submitbutton 											{ cursor:pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; } */
/*	#submitbutton:hover 									{ background:#7b8da6; } */
#explanation 											{ width: 95%; min-height:100px; margin:0 auto; padding:20px 0; text-align:center; background-color: #fff;}
#explanation span 										{ font-weight:bold; padding-right:8px; }
.choice-box 											{ width:90%;  display:block;  text-align:center;  margin:5px auto !important; padding:10px 0 !important; border:1px solid #bdbdbd; }
.correct 											   	{ color:#51a351; font-size: 20px; display: block; margin-bottom: 5px; border-bottom: 1px #51a351 solid; padding-bottom: 5px; }
.incorrect 												{ color:#f93939; font-size: 20px; display: block; margin-bottom: 5px; border-bottom: 1px #f93939 solid; padding-bottom: 5px; }
/*.img:before, img:after          {width:100% !important;}*/
/*modal quiz style end*/


/*--------support-----------*/

.support {
    position: relative;
    top: 12%;
    padding-bottom: 96px;
}

.support-inner {
    margin-bottom: 10%;
}

.support-cards {
    display: inline-table;
    justify-content: center;
    align-items: center;
}

.support-footer{
  position:absolute;
  margin-bottom: -25px;
  bottom:0;
  padding: .175rem 1.25rem;
  border-top: 0;
  background-color: transparent;
}

.support-icon {
    padding: 20px 0;
    border-radius: 50%;
    font-size: 34px;
    width: 54px;
    height: 54px;
    line-height: 18px;
}

@media (min-width: 768px) {
    .support-inner {
        width: 738px;
    }
}


/*-------CONTACT-----------*/

#contact {
    background-attachment: fixed;
    background-image: url('../images/talk.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 100px;
    padding-top: 42px;
    text-align: left;
    margin-bottom: 30px;
}

.contact-form {
    position: relative;
    top: 6%;
}

#contact-head {
    margin: 30px -11px 25px 0px;
}

.contact {
    margin: 15px 0px 15px 0px;
}

/*-----------FOOTER----------*/

footer {
    border-color: transparent;
    text-align: center;
}

.foot {
    margin-bottom: 20px;
}

a {
    padding: 5px 15px 5px 10px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
}

i {
    display: inline-block;
    background-color: #C3C3C3;
    color: #8F8F8F;
    width: 41px;
    height: 41px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

i:hover {
    color: #564F6F;
}
.fa-bars:hover {
    color: #fff;
    background-color: rgba(0, 176, 194, 0.5);
  }
  .fa-bars::after {
      color: #fff;
      background-color: #564F6F;
    }


/* ----------Quiz Modal --------*/

.quiz-modal-body {
  background-color: #fff;
}
/* ----------Contact Form Modal --------*/

.contact-modal-body {
    font-size: 1.15em;
    background-color: #ccc;
}

.btn-default {
    background-color: #ff915c;
}

.privacy-policy {
    color: #424242;
    font-family: 'Nobile', sans-serif;
    padding: 0;
}

a.privacy-policy {
    font-size: inherit;
}

a.privacy-policy:hover {
    color: #564F6F;
    text-decoration: none;
}

/*-----------MEDIA QUERIES----------*/

@media (min-width: 675px) {
.speech-bubble {
 display: inline-block;
    }
  .speech-vertical {
  display: none;
  }
.container-fluid {
  margin-top: -5%;
}

}
@media (max-width: 674px) and (min-width: 300px) {
  .speech-bubble {
   display:none;
  }
.speech-vertical {
  display: inline-block;
  }

  .container-fluid {
    margin-top: -10%;
}

}

@media (max-width: 768px) and (min-width: 375px) {
    .scroll-learn {
        width: 80%;
    }
    .fa-chevron-down {
        margin-top: 52vh;
    }

}

@media (max-width: 992px) {
    #contact, #learn, #landing-view{
        background-attachment: scroll;
    }
}

@media (min-width: 992px) {
    #about-us {
        background-image: url('../images/conversation.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    #support {
        background-image: url('../images/support.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
}
@media (max-height: 667px) {
  .friendly-mob {
    display:none;
  }
  .second {
    margin-bottom: -.3em;
  }
}
